[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.1.16"
langchain-openai = "*"
langchain-pinecone = "*"
langchainhub = "*"
python-dotenv = "*"
black = "*"
pypdf = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
